<script>window.activePage = "reef";</script>
<div class="ui container" data-subsystem="reef">

  <h2 class="ui attached centered header">
    The Reef at Wiss Landing
  </h2>

  <div class="ui attached segment">
    <div class="ui two stackable cards">
      <%= Phoenix.View.render(UI.ReefView, "captain_card.html", @workers) %>
      <%= Phoenix.View.render(UI.ReefView, "first_mate_card.html", @workers) %>
    </div>
  </div>
</div>
