<script>window.activePage = "reef";</script>

<section id="reef-header">
  <div class="row reef-banner">
    <div class="column" id="reef-banner">Reef Captain and First Mate</div>
</section>

<section id="reef-specifics">
  <%= render(UI.ReefView, "specifics.html", reef_state: @reef_state) %>
</section>
