<script>window.activePage = "roost";</script>

<script>
  let refreshButton = document.getElementById("auto_refresh");

  refreshButton.className = "auto-refresh-inactive";
  refreshButton.removeAttribute("disabled");
</script>

<section id="roost-header">
  <div class="row roost-banner">
    <div class="column" id="roost-banner">The Roost at Wiss Landing</div>
</section>

<section id="roost-specifics">
  <%= render(UI.RoostView, "specifics.html", roost_state: @roost_state) %>
</section>
