<!-- <section class="phx-hero">
  <h1><%= gettext "Welcome to!", name: "Phoenix" %></h1>
  <p>Peace-of-mind from helen prototype to production</p>
</section> -->

<section class="helen-hero">
  <h3 class="reef_state">Reef State</h3>
</section>

<section >


<div class="container">

  <%= build_reef_state() %>

</div>

</section>

<!-- <section class="row container">

</section> -->
