<section class="helen-hero">
  <h3 class="reef_state">Reef</h3>
</section>

<section >
  <div class="container">
    <div class="row">
      <div class="column reef_worker_mode">
        <%= worker_mode() %>
      </div>
    </div>
    <%= build_reef_state() %>
  </div>
</section>
