<section class="helen-hero">
  <div class="row reef_state_headline">
    <div class="column reef_subsystem">Reef Subsystem Control</div>
    <div class="column reef_worker_mode"><%= worker_mode() %></div>
</section>

<section >
  <div class="container">
    <%= build_reef_state() %>
  </div>
</section>
