<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Montserrat:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="<%= Routes.static_path(@conn, "/semantic/dist/semantic.min.js") %>"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/semantic/dist/semantic.min.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript"
      src="<%= Routes.static_path(@conn, "/js/app.js") %>">
    </script>


    <title>Helen UI</title>

  </head>
  <body>
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <script>window.liveUpdate = ("<%= assigns[:live_update] %>" == 'true');</script>

    <!-- <header class="ui container"> -->
      <div class="ui stackable container menu">
        <div class="item">
          <h2 class="ui header" data-buttons="header">
            <%= link "I am Helen", to: Routes.home_path(@conn, :index) %>
          </h2>
        </div>
        <div class="right menu">
          <div class="item">
            <a href="https://hexdocs.pm/phoenix/overview.html" class="tiny header">
              Phoenix Docs
            </a>
          </div>
          <div class="item">
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "tiny header" %>
            <% end %>
          </div>
          <div class="item">
            <i class="settings icon"></i>
          </div>
          <div class="item">
            <button id="live-update-button" class="disabled ui center aligned button" data-action="live-update">
              Live Update
            </button>
          </div>
        </div>
      </div>
    <!-- </header> -->
    <main role="main" class="ui container" id="main_content">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div class="ui raised segment" id="inner_content">
        <%= @inner_content %>
      </div>
    </main>
  </body>
</html>
