.reef {
  align-items: center;
  color: gainsboro;
  font-family: "Montserrat", sans-serif;
  font-variant: normal;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  background: rgb(18, 18, 18);

  div > button {
    text-transform: none;
    border-radius: 3px;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }

  &-banner {
    font-size: 1.9rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    // border-bottom: 1px solid rgb(17, 138, 198);
  }

  &-step-details {
    font-family: "Quicksand", sans-serif;
    font-size: 1vw;
    font-weight: 300;
  }

  ul > li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &-subsystem {
    &-block {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid rgb(156, 156, 156);
    }

    &-heading {
      font-family: "Montserrat", sans-serif;
      font-size: 1.8rem;
    }

    &-standby {
      background-color: rgb(111, 111, 111);
    }

    &-ready {
      background-color: rgb(13, 131, 7);
    }

    &-active {
      background-color: rgb(13, 131, 7);
    }

    &-running {
      background-color: rgb(195, 0, 0);
    }

    &-nomatch {
      background-color: rgb(168, 162, 3);
    }

    &-ato-running {
      background-color: rgb(0, 109, 198);
    }
  }

  &-worker {
    &-modes {
      font-family: "Quicksand", sans-serif;
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }

    &-all-stop {
      background-color: rgb(117, 0, 152);
    }

    &-mode {
      &-all-stop {
        padding: 2rem;
        font-family: "Quicksand", sans-serif;
        font-weight: 200;
        font-size: 4rem;
      }

      &-finished {
        background: rgb(252, 14, 236);
      }

      &-ready {
        background: rgb(13, 131, 7);
      }

      &-running {
        background: rgb(195, 0, 0);
      }

      &-status {
        padding: 0.1rem;
      }

      &-summary {
        &-details {
          font-family: "Quicksand", sans-serif;
          font-size: 1vw;
          font-weight: 300;
          margin-bottom: 2rem;
        }

        &-headings {
          font-family: "Quicksand", sans-serif;
          font-size: 1.6rem;
          font-weight: bold;
        }
      }

      &-unknown {
        background: rgb(111, 111, 111);
      }
    }
  }
}
