.roost {
  font-family: "Montserrat", sans-serif;
  font-variant: normal;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

.roost-banner {
  font-family: "Montserrat", sans-serif;
  color: rgb(36, 255, 0);
  text-align: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.roost-worker-modes {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.5rem;
}

.roost-worker-mode-ready {
  color: rgb(255, 251, 251);
  background: rgb(13, 131, 7);
}

.roost-worker-mode-running {
  color: rgb(255, 251, 251);
  background: rgb(195, 0, 0);
}

.roost-worker-mode-finished {
  color: rgb(255, 251, 251);
  background: rgb(252, 14, 236);
}

.roost-worker-mode-unknown {
  color: rgb(255, 251, 251);
  background: rgb(111, 111, 111);
}
